

.sidebar {
  position: fixed;
  margin: 0px;
  left: 0;
  width: 20%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

  background-color: #088178;
}
.sidebar header {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background-color: rgb(37, 63, 72);
  user-select: none;
}
.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 20px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  transition: 0.4s;
}
ul a:hover {
  padding-left: 50px;
} 



/* Dasboard CSS end */

/* Home dashboard CSS start */

#mainheading{
 
   
  font-size: 35px;
  text-align: center;
  margin-top: 100px;
  background-color: teal;
  width: 35%;
  margin: auto;
  margin-top: 100px;
  padding: 15px;
  border-radius: 15px;

}


#section{
  width: 100%;
  margin-top: 140px;
  /* border: 1px solid red ; */
}
#section-box{
  width: 65%;
  height: 350px;
  /* border: 1px  solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
}
#section-div{
  width: 30%;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: fit-content;
  padding:15px 10px ;

  

}
#section-div>img{
  width: 300px;

  /* border: 1px solid blue; */
}
#section-div .img2{
  height: 280px;
}


#section-div:hover{
  transform: scale(1.2);
}



#admin-container {
  margin: 0% 0% 10% 22%;
  display: flex;

}
#admin-container > div {
  margin: 8px;
  padding: 100px;
  border-radius: 49%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}










  /* Dashboard sidebar menu start */
  
  .sidebar {
    position: fixed;
    margin: 0px;
    left: 0;
    width: 20%;
    height: 540px;
    background-color: #088178;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  }
  
  .sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: rgb(37, 63, 72);
    user-select: none;
  }
  
  .sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    transition: 0.4s;
  }
  
  .sidebar ul li:hover a {
    padding-left: 50px;
  }
  
  .sidebar ul a i {
    margin-right: 16px;
  }
  
  /* Dashboard sidebar menu end */
  
  #container {
    display: grid;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: whitesmoke;
  }
  
  .upload-product-box {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    margin: 3% 0% 3% 42%;
  
    height: 600px;
    border-radius: 9px;
  }
  
  .upload-product-box>h1 {
    color: darkslategrey;
    text-align: center;
   margin-left: 200px;
  }
  
  #form {
    padding: 10px;
    margin-left: 150px;
    height: 400px;
    width: 65%;
    margin-top: 50px;
  }
  
  .form-name {
    font-weight: 600;
    padding: 3px;
    margin: 8px;
    font-size: 24px;
    
  }
  
  .input2 {
    margin: 8px;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  }
  
  .input1 {
    font-size: 20px;
    padding-left: 10px;
    margin: 8px;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  }

  .input1:focus{
    border: 3px solid #555;
  }
  
  .btn2 {
    padding: 10px;
    margin: 20px 0px 10px 110px;
    width: 100px;
    height: 42px;
    border-radius: 10px;
    border-style: hidden;
    background-color: #088178;
    font-size: 18px;
  }
  
  .btn {
    margin: 14px;
  }
  
  .btn2:hover {
    padding-bottom: 6px;
    background-color: rgb(238, 184, 83);
    cursor: pointer;
    color: white;
  }
  
  /* Dashboard upload product menu start */
  
  .table-Dashboard {
    width: 90%;
    height: 650px;
    margin: 0% 0% 3% 7%;
  }
  
  .table-Dashboard h2 {
    padding: 40px;
    margin-left: 270px;
    text-align: center;
    /* border: 1px solid red; */
  }
  
  .t1 {
    margin-left: 10px;
    width: 100%;

    text-transform: uppercase;
  }
  
  .t1>thead>tr>th {
    width: 250px;
    padding: 10px;
    color: white;
    border: none;
    background-color: teal;
 
    
  }
  
  #tbody>tr>td {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 70px;
        margin: auto;
        align-items: center;
        text-align: center;
        border: 1px solid rgb(190, 236, 138);
        font-weight: 1000px;
        font-size:  22px;
        margin-bottom: 10px;
        border-radius: 10px;
        /* border: 1px solid red; */
        
  }


  #heading{
    margin-top: -110px;
    margin-left: 11px;
    margin-bottom: -10px;
   
  }
 

  #updateBtn{
    font-weight: 500px;
    color: rebeccapurple;
    cursor: pointer;
  }


